--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


--
-- Name: aggiorna_promozioni_impiegato(); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.aggiorna_promozioni_impiegato()
    LANGUAGE plpgsql
    AS $$

DECLARE

    impiegato_record impiegato%ROWTYPE;

    counter int;

    codice varchar;

    codicefiscale varchar;

    categoria1 varchar;

    datapassaggio1 date;

    categoria2 varchar;

    datapassaggio2 date;

    categoria3 varchar;

    datapassaggio3 date;

    categoria4 varchar;

    datapassaggio4 date;

BEGIN

    counter := 0;

    FOR impiegato_record IN SELECT * FROM impiegato WHERE codicecon IS NOT NULL LOOP

        counter := counter + 1;

        IF impiegato_record.merito = true THEN

            IF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) > 7 THEN

                codicefiscale := impiegato_record.cf::varchar;

                categoria1 := 'Junior';

                datapassaggio1 := impiegato_record.dataassunzione;

                categoria2 := 'Middle';

                datapassaggio2 := impiegato_record.dataassunzione + INTERVAL '3 years';

                categoria3 := 'Senior';

                datapassaggio3 := impiegato_record.dataassunzione + INTERVAL '7 years';

                categoria4 := 'Dirigente';

                datapassaggio4 := impiegato_record.dataassunzione + INTERVAL '8 years';



                PERFORM NULL FROM promozione WHERE cf = codicefiscale;



                codice := 'Codice' || counter || '.1';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio1, null, categoria1);



                codice := 'Codice' || counter || '.2';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio2, categoria1, categoria2);



                codice := 'Codice' || counter || '.3';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio3, categoria2, categoria3);



                codice := 'Codice' || counter || '.4';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio4, categoria3, categoria4);



            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) <= 7

                AND EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) >= 3 THEN

                codicefiscale := impiegato_record.cf::varchar;

                categoria1 := 'Junior';

                datapassaggio1 := impiegato_record.dataassunzione;

                categoria2 := 'Middle';

                datapassaggio2 := impiegato_record.dataassunzione + INTERVAL '3 years';

                categoria4 := 'Dirigente';

                datapassaggio4 := impiegato_record.dataassunzione + INTERVAL '4 years';



                PERFORM NULL FROM promozione WHERE cf = codicefiscale;



                codice := 'Codice' || counter || '.1';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio1, null, categoria1);



                codice := 'Codice' || counter || '.2';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio2, categoria1, categoria2);



                codice := 'Codice' || counter || '.4';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio4, categoria2, categoria4);



            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) < 3 THEN

                codicefiscale := impiegato_record.cf::varchar;

                categoria1 := 'Junior';

                datapassaggio1 := impiegato_record.dataassunzione;

                categoria4 := 'Dirigente';

                datapassaggio4 := impiegato_record.dataassunzione + INTERVAL '4 years';



                PERFORM NULL FROM promozione WHERE cf = codicefiscale;



                codice := 'Codice' || counter || '.1';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio1, null, categoria1);



                codice := 'Codice' || counter || '.4';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio4, categoria1, categoria4);

            END IF;

        ELSIF impiegato_record.merito = false THEN

            IF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) > 7 THEN

                codicefiscale := impiegato_record.cf::varchar;

                categoria1 := 'Junior';

                datapassaggio1 := impiegato_record.dataassunzione;

                categoria2 := 'Middle';

                datapassaggio2 := impiegato_record.dataassunzione + INTERVAL '3 years';

                categoria3 := 'Senior';

                datapassaggio3 := impiegato_record.dataassunzione + INTERVAL '7 years';



                PERFORM NULL FROM promozione WHERE cf = codicefiscale;



                codice := 'Codice' || counter || '.1';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio1, null, categoria1);



                codice := 'Codice' || counter || '.2';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio2, categoria1, categoria2);



                codice := 'Codice' || counter || '.3';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio3, categoria2, categoria3);



            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) <= 7

                AND EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) >= 3 THEN

                codicefiscale := impiegato_record.cf::varchar;

                categoria1 := 'Junior';

                datapassaggio1 := impiegato_record.dataassunzione;

                categoria2 := 'Middle';

                datapassaggio2 := impiegato_record.dataassunzione + INTERVAL '3 years';



                PERFORM NULL FROM promozione WHERE cf = codicefiscale;



                codice := 'Codice' || counter || '.1';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio1, null, categoria1);



                codice := 'Codice' || counter || '.2';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio2, categoria1, categoria2);



            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) < 3 THEN

                codicefiscale := impiegato_record.cf::varchar;

                categoria1 := 'Junior';

                datapassaggio1 := impiegato_record.dataassunzione;



                PERFORM NULL FROM promozione WHERE cf = codicefiscale;



                codice := 'Codice' || counter || '.1';

                INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

                VALUES (codicefiscale, codice, datapassaggio1, null, categoria1);

            END IF;

        END IF;

    END LOOP;

    RETURN;

END;

$$;


ALTER PROCEDURE public.aggiorna_promozioni_impiegato() OWNER TO postgres;

--
-- Name: aggiornan_afferenti(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.aggiornan_afferenti() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN



    UPDATE Laboratorio

    SET N_Afferenti = N_Afferenti + 1

    WHERE Nome = NEW.NomeLab;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.aggiornan_afferenti() OWNER TO postgres;

--
-- Name: aggiornapromozioni(character varying, boolean); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.aggiornapromozioni(IN cf_n character varying, IN meri_n boolean)
    LANGUAGE plpgsql
    AS $$

DECLARE

    datapassaggio_1 date;

BEGIN



    SELECT impiegato.dataassunzione INTO datapassaggio_1

    FROM impiegato

    WHERE cf = cf_n;



    IF meri_n THEN



        UPDATE promozioni

        SET categoria4 = 'Dirigente'

        WHERE cf = cf_n;



        UPDATE promozioni

        SET datapassaggio4 = datapassaggio_1

        WHERE cf = cf_n;



    end if;



    IF NOT meri_n THEN



        UPDATE promozioni

        SET categoria1 = 'Junior'

        WHERE cf = cf_n;



        UPDATE promozioni

        SET datapassaggio1 = datapassaggio_1

        WHERE cf = cf_n;

    end if;

END;

$$;


ALTER PROCEDURE public.aggiornapromozioni(IN cf_n character varying, IN meri_n boolean) OWNER TO postgres;

--
-- Name: calcola_dati_impiegato(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calcola_dati_impiegato() RETURNS TABLE(codicefiscale character varying, categoria1 character varying, datapassaggio1 date, categoria2 character varying, datapassaggio2 date, categoria3 character varying, datapassaggio3 date, categoria4 character varying, datapassaggio4 date)
    LANGUAGE plpgsql
    AS $$

DECLARE

    impiegato_record impiegato%ROWTYPE;

BEGIN

    FOR impiegato_record IN SELECT * FROM impiegato LOOP

        IF impiegato_record.merito = true THEN

            IF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) > 7 THEN

                RETURN QUERY (

                    SELECT

                        impiegato_record.cf::varchar AS codicefiscale,

                        'Junior'::varchar AS categoria1,

                        impiegato_record.dataassunzione AS datapassaggio1,

                        'Middle'::varchar AS categoria2,

                        CAST(impiegato_record.dataassunzione + INTERVAL '3 years' AS date) AS datapassaggio2,

                        'Senior'::varchar AS categoria3,

                        CAST(impiegato_record.dataassunzione + INTERVAL '7 years' AS date) AS datapassaggio3,

                        'Dirigente'::varchar AS categoria4,

                        CAST(impiegato_record.dataassunzione + INTERVAL '8 years' AS date) AS datapassaggio4

                );

            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) <= 7

                  AND EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) >= 3 THEN

                RETURN QUERY (

                    SELECT

                        impiegato_record.cf::varchar AS codicefiscale,

                        'Junior'::varchar AS categoria1,

                        impiegato_record.dataassunzione AS datapassaggio1,

                        'Middle'::varchar AS categoria2,

                        CAST(impiegato_record.dataassunzione + INTERVAL '3 years' AS date) AS datapassaggio2,

                        NULL::varchar AS categoria3,

                        NULL::date AS datapassaggio3,

                        'Dirigente'::varchar AS categoria4,

                        CAST(impiegato_record.dataassunzione + INTERVAL '4 years' AS date) AS datapassaggio4

                );

            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) < 3 THEN

                RETURN QUERY (

                    SELECT

                        impiegato_record.cf::varchar AS codicefiscale,

                        'Junior'::varchar AS categoria1,

                        impiegato_record.dataassunzione AS datapassaggio1,

                        NULL::varchar AS categoria2,

                        NULL::date AS datapassaggio2,

                        NULL::varchar AS categoria3,

                        NULL::date AS datapassaggio3,

                        'Dirigente'::varchar AS categoria4,

                        CAST(impiegato_record.dataassunzione + INTERVAL '4 years' AS date) AS datapassaggio4

                );

            END IF;

        ELSIF impiegato_record.merito = false THEN

            IF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) > 7 THEN

                RETURN QUERY (

                    SELECT

                        impiegato_record.cf::varchar AS codicefiscale,

                        'Junior'::varchar AS categoria1,

                        impiegato_record.dataassunzione AS datapassaggio1,

                        'Middle'::varchar AS categoria2,

                        CAST(impiegato_record.dataassunzione + INTERVAL '3 years' AS date) AS datapassaggio2,

                        'Senior'::varchar AS categoria3,

                        CAST(impiegato_record.dataassunzione + INTERVAL '7 years' AS date) AS datapassaggio3,

                        NULL::varchar AS categoria4,

                        NULL::date AS datapassaggio4

                );

            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) <= 7

                  AND EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) >= 3 THEN

                RETURN QUERY (

                    SELECT

                        impiegato_record.cf::varchar AS codicefiscale,

                        'Junior'::varchar AS categoria1,

                        impiegato_record.dataassunzione AS datapassaggio1,

                        'Middle'::varchar AS categoria2,

                        CAST(impiegato_record.dataassunzione + INTERVAL '3 years' AS date) AS datapassaggio2,

                        NULL::varchar AS categoria3,

                        NULL::date AS datapassaggio3,

                        NULL::varchar AS categoria4,

                        NULL::date AS datapassaggio4

                );

            ELSIF EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM impiegato_record.dataassunzione) < 3 THEN

                RETURN QUERY (

                    SELECT

                        impiegato_record.cf::varchar AS codicefiscale,

                        'Junior'::varchar AS categoria1,

                        impiegato_record.dataassunzione AS datapassaggio1,

                        NULL::varchar AS categoria2,

                        NULL::date AS datapassaggio2,

                        NULL::varchar AS categoria3,

                        NULL::date AS datapassaggio3,

                        NULL::varchar AS categoria4,

                        NULL::date AS datapassaggio4

                );

            END IF;

        END IF;

    END LOOP;

    RETURN;

END;

$$;


ALTER FUNCTION public.calcola_dati_impiegato() OWNER TO postgres;

--
-- Name: dirigente(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.dirigente(cod_fisc character varying) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF EXISTS(

        SELECT 1

        FROM Impiegato

        WHERE CF = cod_fisc AND Categoria <> 'Dirigente'

    ) THEN

		UPDATE Progetto

		SET RespScie = (SELECT CF FROM Impiegato WHERE Categoria = 'Dirigente')

		WHERE RespScie IS NULL;

		RETURN TRUE;

	END IF;

END;

$$;


ALTER FUNCTION public.dirigente(cod_fisc character varying) OWNER TO postgres;

--
-- Name: inserisciimpiegato(character varying, character varying, character varying, date, boolean, character varying, date, character varying, numeric); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inserisciimpiegato(IN cf_n character varying, IN nome_n character varying, IN cognome_n character varying, IN datanascita_n date, IN merito_n boolean, IN codicecon_n character varying, IN dataassunzione_n date, IN categoria_n character varying, IN salario_n numeric)
    LANGUAGE plpgsql
    AS $$

DECLARE

    eta_calcolata INTEGER;

BEGIN

    eta_calcolata := EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM dataNascita_n);



    IF eta_calcolata <= 18 THEN

        RAISE EXCEPTION 'L''impiegato deve avere pi├╣ di 18 anni';

    END IF;



    IF EXISTS (

        SELECT 1

        FROM Impiegato

        WHERE CF = cf_n AND CodiceCon = codiceCon_n

    ) THEN

        RAISE EXCEPTION 'La coppia (CF, CodiceCon) ├¿ gi├á presente in Impiegato';

    END IF;



    IF salario_n < 1500 THEN

        RAISE EXCEPTION 'Il salario deve essere superiore a 1500';

    END IF;



    CALL inseriscipromozioni(cf_n, merito_n);



    IF merito_n THEN

        UPDATE promozioni

        SET datapassaggio4 = CURRENT_DATE

        WHERE cf = cf_n;

    ELSE

        UPDATE promozioni

        SET datapassaggio1 = CURRENT_DATE

        WHERE cf = cf_n;

    END IF;



    INSERT INTO Impiegato (CF, Nome, Cognome, DataNascita, Merito, CodiceCon, DataAssunzione, Eta, Categoria, Salario)

    VALUES (cf_n, nome_n, cognome_n, dataNascita_n, merito_n, codiceCon_n, dataAssunzione_n, eta_calcolata, categoria_n, salario_n);

END;

$$;


ALTER PROCEDURE public.inserisciimpiegato(IN cf_n character varying, IN nome_n character varying, IN cognome_n character varying, IN datanascita_n date, IN merito_n boolean, IN codicecon_n character varying, IN dataassunzione_n date, IN categoria_n character varying, IN salario_n numeric) OWNER TO postgres;

--
-- Name: inseriscilaboratorio(character varying, character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inseriscilaboratorio(IN nome_n character varying, IN respscie_n character varying, IN topic_n character varying)
    LANGUAGE plpgsql
    AS $$

BEGIN



    INSERT INTO utilizza (cf, nomelab) VALUES (respscie_n, nome_n);





    INSERT INTO Laboratorio (Nome, RespScie, Topic, N_Afferenti)

    VALUES (Nome_n, RespScie_n, Topic_n, 1);

END;

$$;


ALTER PROCEDURE public.inseriscilaboratorio(IN nome_n character varying, IN respscie_n character varying, IN topic_n character varying) OWNER TO postgres;

--
-- Name: inseriscilavora(character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inseriscilavora(IN cup_ins character varying)
    LANGUAGE plpgsql
    AS $$

DECLARE

    lab_1 varchar;

    lab_2 varchar;

    lab_3 varchar;

BEGIN

    SELECT lab1 INTO lab_1

    FROM lavora

    WHERE cup = cup_ins;



    SELECT lab2 INTO lab_2

    FROM lavora

    WHERE cup = cup_ins AND lab2 IS NOT NULL;



    SELECT lab3 INTO lab_3

    FROM lavora

    WHERE cup = cup_ins AND lab3 IS NOT NULL;



    IF lab_2 IS NOT NULL AND lab_3 IS NOT NULL THEN

        INSERT INTO lavora(lab1, lab2, lab3, cup)

        VALUES (lab_1, lab_2, lab_3, cup);



    ELSEIF lab_3 IS NOT NULL THEN

        INSERT INTO lavora(lab1, lab2, lab3, cup)

        VALUES (lab_1, null, lab_3, cup);



    ELSEIF lab_2 IS NOT NULL THEN

        INSERT INTO lavora(lab1, lab2, lab3, cup)

        VALUES (lab_1, lab_2, null, cup);

    END IF;

END;

$$;


ALTER PROCEDURE public.inseriscilavora(IN cup_ins character varying) OWNER TO postgres;

--
-- Name: inseriscilavora(character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inseriscilavora(IN cup_progetto character varying, IN nome_lab character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Verifica se il laboratorio ┼á giÔÇª associato a un altro progetto
    IF EXISTS (
        SELECT 1
        FROM lavora
        WHERE lab1 = nome_lab OR lab2 = nome_lab OR lab3 = nome_lab
    ) THEN
        RAISE EXCEPTION 'Il laboratorio % ┼á giÔÇª associato a un altro progetto', nome_lab;
    END IF;

    -- Determina quale colonna ┼á disponibile per il laboratorio
    IF NOT EXISTS (
        SELECT 1
        FROM lavora
        WHERE cup = cup_progetto AND lab1 IS NULL
    ) THEN
        UPDATE lavora
        SET lab1 = nome_lab
        WHERE cup = cup_progetto;
    ELSIF NOT EXISTS (
        SELECT 1
        FROM lavora
        WHERE cup = cup_progetto AND lab2 IS NULL
    ) THEN
        UPDATE lavora
        SET lab2 = nome_lab
        WHERE cup = cup_progetto;
    ELSIF NOT EXISTS (
        SELECT 1
        FROM lavora
        WHERE cup = cup_progetto AND lab3 IS NULL
    ) THEN
        UPDATE lavora
        SET lab3 = nome_lab
        WHERE cup = cup_progetto;
    ELSE
        RAISE EXCEPTION 'Il progetto % ha giÔÇª il massimo numero di laboratori associati', cup_progetto;
    END IF;

END;
$$;


ALTER PROCEDURE public.inseriscilavora(IN cup_progetto character varying, IN nome_lab character varying) OWNER TO postgres;

--
-- Name: inseriscipresenza(character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inseriscipresenza(IN cup_ins character varying)
    LANGUAGE plpgsql
    AS $$

DECLARE

    nome_ins varchar;

    cognome_ins varchar;

    cf_ins varchar;

BEGIN

    BEGIN

        SELECT i.nome, i.cognome, i.cf INTO nome_ins, cognome_ins, cf_ins

        FROM impiegato AS i JOIN progetto AS p ON i.cf = p.respscie

        WHERE p.cup = cup_ins;



        UPDATE progetto

        SET respscie = cf_ins

        WHERE cup = cup_ins;



        INSERT INTO presenza(cup, nome, cognome, cf) VALUES (cup_ins, nome_ins, cognome_ins, cf_ins);

    EXCEPTION

        WHEN NO_DATA_FOUND THEN

            RAISE EXCEPTION 'Dati non trovati per cup %', cup_ins;

        WHEN OTHERS THEN

            RAISE EXCEPTION 'Errore durante l''inserimento della presenza per cup %: %', cup_ins, SQLERRM;

    END;



    BEGIN

        SELECT i.nome, i.cognome, i.cf INTO nome_ins, cognome_ins, cf_ins

        FROM impiegato AS i JOIN progetto AS p ON i.cf = p.refscie

        WHERE p.cup = cup_ins;



        UPDATE progetto

        SET refscie = cf_ins

        WHERE cup = cup_ins;



        INSERT INTO presenza(cup, nome, cognome, cf) VALUES (cup_ins, nome_ins, cognome_ins, cf_ins);

    EXCEPTION

        WHEN NO_DATA_FOUND THEN

            RAISE EXCEPTION 'Dati non trovati per cup %', cup_ins;

        WHEN OTHERS THEN

            RAISE EXCEPTION 'Errore durante l''inserimento della presenza per cup %: %', cup_ins, SQLERRM;

    END;

END;

$$;


ALTER PROCEDURE public.inseriscipresenza(IN cup_ins character varying) OWNER TO postgres;

--
-- Name: inserisciprogetto(character varying, character varying, character varying, character varying, numeric); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inserisciprogetto(IN cup character varying, IN ref_sci character varying, IN resp character varying, IN nome character varying, IN budget numeric)
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO Progetto (cup, refscie, respscie, nome, budget)
    VALUES (cup, ref_sci, resp, nome, budget);
END;
$$;


ALTER PROCEDURE public.inserisciprogetto(IN cup character varying, IN ref_sci character varying, IN resp character varying, IN nome character varying, IN budget numeric) OWNER TO postgres;

--
-- Name: inseriscipromozione(character varying, boolean); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inseriscipromozione(IN cf_ins character varying, IN meri boolean)
    LANGUAGE plpgsql
    AS $$

DECLARE

    vecchia_cat varchar;

    nuova_cat varchar;

    codice varchar;

    data_pass date;

    salar numeric;

BEGIN

    SELECT impiegato.codicecon INTO codice

    FROM impiegato

    WHERE cf = cf_ins;

    SELECT impiegato.dataassunzione INTO data_pass

    FROM impiegato

    WHERE cf = cf_ins;



    IF meri = true THEN



        salar := 3000.00;

        IF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) > 7 THEN

            vecchia_cat := 'Senior';

            nuova_cat := 'Dirigente';

            data_pass := data_pass + INTERVAL '8 years';

        ELSIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) < 3 THEN

            vecchia_cat := 'Junior';

            nuova_cat := 'Dirigente';

            data_pass := data_pass + INTERVAL '1 year';

        ELSEIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) >= 3 AND

               EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) <= 7 THEN

            vecchia_cat := 'Middle';

            nuova_cat := 'Dirigente';

            data_pass := data_pass + INTERVAL '4 years';

        END IF;

    end if;



    SELECT categoria INTO vecchia_cat

    FROM impiegato

    WHERE cf = cf_ins;



    IF meri = false THEN

        IF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) > 7 THEN

            nuova_cat := 'Senior';

            salar := 2500.00;

            data_pass := data_pass + INTERVAL '7 years';

        ELSIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) < 3 THEN

            nuova_cat := 'Junior';

            salar := 1500.00;

        ELSEIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) >= 3 AND

               EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM data_pass) <= 7 THEN

            nuova_cat := 'Middle';

            salar := 2000.00;

            data_pass := data_pass + INTERVAL '3 years';

        END IF;

    end if;



    INSERT INTO promozione(cf, codicecon, datapassaggio, vecchiacategoria, nuovacategoria)

    VALUES (cf_ins, codice, data_pass, vecchia_cat, nuova_cat);



    UPDATE impiegato

    SET categoria = nuova_cat

    WHERE cf = cf_ins;



    UPDATE impiegato

    SET salario = salar

    WHERE cf = cf_ins;



    CALL aggiorna_promozioni_impiegato();

END;

$$;


ALTER PROCEDURE public.inseriscipromozione(IN cf_ins character varying, IN meri boolean) OWNER TO postgres;

--
-- Name: inseriscipromozioni(character varying, boolean); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inseriscipromozioni(IN cf_ins character varying, IN meri boolean)
    LANGUAGE plpgsql
    AS $$

DECLARE

    categoria_1 varchar;

    categoria_2 varchar;

    categoria_3 varchar;

    categoria_4 varchar;

    datapassaggio_1 date;

    datapassaggio_2 date;

    datapassaggio_3 date;

    datapassaggio_4 date;

    salar numeric;

BEGIN



    categoria_1:= NULL;

    categoria_2:= NULL;

    categoria_3:= NULL;

    categoria_4:= NULL;

    datapassaggio_2 := NULL;

    datapassaggio_3 := NULL;

    datapassaggio_4 := NULL;



    SELECT impiegato.dataassunzione INTO datapassaggio_1

    FROM impiegato

    WHERE cf = cf_ins;



    IF meri = true THEN



        salar := 3000.00;

        IF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) > 7 THEN

            categoria_1 := 'Junior';

            categoria_2 := 'Middle';

            datapassaggio_2 := datapassaggio_1 + INTERVAL '3 years';

            categoria_3 := 'Senior';

            datapassaggio_3 := datapassaggio_1 + INTERVAL '7 years';

            categoria_4 := 'Dirigente';

            datapassaggio_4 := datapassaggio_1 + INTERVAL '8 years';

        ELSIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) < 3 THEN

            categoria_1 := 'Junior';

            categoria_4 := 'Dirigente';

            datapassaggio_4 := datapassaggio_1 + INTERVAL '1 year';

        ELSEIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) >= 3 AND

               EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) <= 7 THEN

            categoria_1 := 'Junior';

            categoria_2 := 'Middle';

            datapassaggio_2 := datapassaggio_1 + INTERVAL '3 years';

            categoria_4 := 'Dirigente';

            datapassaggio_4 := datapassaggio_1 + INTERVAL '4 years';

        END IF;

        UPDATE impiegato

        SET categoria = categoria_4

        WHERE cf = cf_ins;

    end if;



    IF meri = false THEN

        IF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) > 7 THEN

            categoria_1 := 'Junior';

            categoria_2 := 'Middle';

            datapassaggio_2 := datapassaggio_1 + INTERVAL '3 years';

            categoria_3 := 'Senior';

            datapassaggio_3 := datapassaggio_1 + INTERVAL '7 years';

            salar := 2500.00;

            UPDATE impiegato

            SET categoria = categoria_3

            WHERE cf = cf_ins;

        ELSIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) < 3 THEN

            categoria_1 := 'Junior';

            UPDATE impiegato

            SET categoria = categoria_1

            WHERE cf = cf_ins;

            salar := 1500.00;

        ELSEIF EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) >= 3 AND

               EXTRACT(YEAR FROM CURRENT_DATE) -

           EXTRACT(YEAR FROM datapassaggio_1) <= 7 THEN

            categoria_1 := 'Junior';

            categoria_2 := 'Middle';

            UPDATE impiegato

            SET categoria = categoria_2

            WHERE cf = cf_ins;

            datapassaggio_2 := datapassaggio_1 + INTERVAL '3 years';

            salar := 2000.00;

        END IF;

    end if;



    UPDATE impiegato

    SET salario = salar

    WHERE cf = cf_ins;



    DELETE FROM promozioni WHERE cf = cf_ins;



    INSERT INTO promozioni(cf, categoria1, datapassaggio1, categoria2, datapassaggio2, categoria3, datapassaggio3, categoria4, datapassaggio4)

    VALUES (cf_ins, categoria_1, datapassaggio_1, categoria_2, datapassaggio_2, categoria_3, datapassaggio_3, categoria_4, datapassaggio_4);

END;

$$;


ALTER PROCEDURE public.inseriscipromozioni(IN cf_ins character varying, IN meri boolean) OWNER TO postgres;

--
-- Name: inserisciutilizza(character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.inserisciutilizza(IN cf_ins character varying, IN nomelab_ins character varying)
    LANGUAGE plpgsql
    AS $$

    DECLARE

        n_aff integer;

BEGIN

    IF NOT EXISTS(

        SELECT *

        FROM impiegato

        WHERE cf = cf_ins

        LIMIT 1

    ) THEN

        RAISE EXCEPTION 'Non esiste il cf inserito!';

    end if;



    IF NOT EXISTS(

        SELECT *

        FROM laboratorio

        WHERE nome = nomelab_ins

        LIMIT 1

    ) THEN

        RAISE EXCEPTION 'Non esiste il laboratorio inserito!';

    end if;



    IF EXISTS(

        SELECT *

        FROM utilizza

        WHERE cf = cf_ins AND nomelab = nomelab_ins

        LIMIT 1

    ) THEN

        RAISE EXCEPTION 'Esiste questa coppia in utilizza!';

    end if;



    SELECT laboratorio.n_afferenti INTO n_aff

    FROM laboratorio

    WHERE nome = nomelab_ins;



    INSERT INTO utilizza(cf, nomelab) VALUES

    (cf_ins, nomelab_ins);



    UPDATE laboratorio

    SET n_afferenti = n_afferenti + 1

    WHERE nome = nomelab_ins;



END

$$;


ALTER PROCEDURE public.inserisciutilizza(IN cf_ins character varying, IN nomelab_ins character varying) OWNER TO postgres;

--
-- Name: lavora_view(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.lavora_view(cf_ins character varying) RETURNS character varying
    LANGUAGE plpgsql
    AS $$

DECLARE

    cup_result VARCHAR;

BEGIN

    SELECT lavora.cup INTO cup_result

    FROM lavora

    JOIN utilizza ON lavora.lab1 = utilizza.nomelab

                    OR lavora.lab2 = utilizza.nomelab

                    OR lavora.lab3 = utilizza.nomelab

    WHERE utilizza.cf = cf_ins;



    RETURN cup_result;

END;

$$;


ALTER FUNCTION public.lavora_view(cf_ins character varying) OWNER TO postgres;

--
-- Name: limite_laboratori(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.limite_laboratori() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Conta il numero attuale di laboratori associati al progetto

    IF (SELECT COUNT(*) FROM Lavora WHERE CUP = OLD.CUP) > 3 THEN

        RAISE EXCEPTION 'Un progetto pu├▓ avere al massimo 3 laboratori';

    END IF;



    RETURN OLD;

END;

$$;


ALTER FUNCTION public.limite_laboratori() OWNER TO postgres;

--
-- Name: passaggio_ruolo(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.passaggio_ruolo() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    Merito boolean;

    Eta            int ;

    data_assunzione date ;

    codice_con varchar(20);

BEGIN



    NEW.VecchiaCategoria := OLD.NuovaCategoria;



    SELECT dataassunzione INTO data_assunzione

    FROM impiegato

    WHERE cf = OLD.cf AND codicecon = OLD.codicecon;



    SELECT impiegato.merito INTO Merito

    FROM impiegato

    WHERE cf = OLD.cf AND codicecon = OLD.codicecon;







    Eta := EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM data_assunzione);



    IF Merito THEN

        NEW.NuovaCategoria := 'Dirigente';

        SELECT CONCAT(impiegato.codicecon, '.4') INTO codice_con

            FROM impiegato

            WHERE cf = OLD.cf;

            UPDATE promozione

            SET codicecon = codice_con;

    ELSE

        IF Eta < 3 THEN

            NEW.NuovaCategoria := 'Dipendente junior';

            SELECT CONCAT(impiegato.codicecon, '.1') INTO codice_con

            FROM impiegato

            WHERE cf = OLD.cf;

            UPDATE promozione

            SET codicecon = codice_con;



        ELSIF Eta >= 3 AND Eta < 7 THEN

            NEW.NuovaCategoria := 'Dipendente middle';

            SELECT CONCAT(impiegato.codicecon, '.2') INTO codice_con

            FROM impiegato

            WHERE cf = OLD.cf;

            UPDATE promozione

            SET codicecon = codice_con;

        ELSE

            NEW.NuovaCategoria := 'Dipendente senior';

            SELECT CONCAT(impiegato.codicecon, '.3') INTO codice_con

            FROM impiegato

            WHERE cf = OLD.cf;

            UPDATE promozione

            SET codicecon = codice_con;

        END IF;

    END IF;



    UPDATE impiegato

    SET categoria = NEW.NuovaCategoria

    WHERE cf = OLD.cf AND codicecon = OLD.codicecon;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.passaggio_ruolo() OWNER TO postgres;

--
-- Name: refdir(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.refdir(cod_fisc character varying) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN EXISTS(

        SELECT 1

        FROM Impiegato

        WHERE CF = cod_fisc AND Categoria = 'Dirigente'

    );

END;

$$;


ALTER FUNCTION public.refdir(cod_fisc character varying) OWNER TO postgres;

--
-- Name: resposenior(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.resposenior(codice_fiscale character varying) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN EXISTS (

        SELECT 1

        FROM Impiegato

        WHERE CF = codice_fiscale AND Categoria = 'Senior'

    );

END;

$$;


ALTER FUNCTION public.resposenior(codice_fiscale character varying) OWNER TO postgres;

--
-- Name: rimuovi_impiegato(character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.rimuovi_impiegato(IN cf_impiegato character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Gestire i laboratori dove l'impiegato ┼á responsabile
    IF EXISTS (SELECT 1 FROM Laboratorio WHERE RespScie = cf_impiegato) THEN
        UPDATE Laboratorio
        SET RespScie = (
            SELECT CF
            FROM Impiegato
            WHERE Categoria = 'Senior' AND CF <> cf_impiegato AND resposenior(CF)
            LIMIT 1
        )
        WHERE RespScie = cf_impiegato;
    END IF;

    -- Gestire i progetti dove l'impiegato ┼á responsabile scientifico
    IF EXISTS (SELECT 1 FROM Progetto WHERE RespScie = cf_impiegato) THEN
        UPDATE Progetto
        SET RespScie = (
            SELECT CF
            FROM Impiegato
            WHERE Categoria = 'Dirigente' AND CF <> cf_impiegato AND refdir(CF)
            LIMIT 1
        )
        WHERE RespScie = cf_impiegato;
    END IF;

    -- Gestire i progetti dove l'impiegato ┼á referente scientifico
    IF EXISTS (SELECT 1 FROM Progetto WHERE RefScie = cf_impiegato) THEN
        UPDATE Progetto
        SET RefScie = (
            SELECT CF
            FROM Impiegato
            WHERE Categoria = 'Senior' AND CF <> cf_impiegato AND resposenior(CF)
            LIMIT 1
        )
        WHERE RefScie = cf_impiegato;
    END IF;

    -- Eliminare l'impiegato
    DELETE FROM Impiegato WHERE CF = cf_impiegato;
END;
$$;


ALTER PROCEDURE public.rimuovi_impiegato(IN cf_impiegato character varying) OWNER TO postgres;

--
-- Name: rimuovi_laboratorio(character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.rimuovi_laboratorio(IN nuovo_lab character varying)
    LANGUAGE plpgsql
    AS $$

DECLARE

    Lab_el VARCHAR(20);

BEGIN

	-- Trova il nome del laboratorio che sta per essere rimosso

    SELECT NomeLab INTO Lab_el FROM Utilizza WHERE NomeLab = nuovo_Lab LIMIT 1;



    -- Verifica se il laboratorio da rimuovere ├¿ l'ultimo rimanente in un progetto

    IF (SELECT COUNT(*) FROM Lavora WHERE Lab1 = Lab_el OR Lab2 = Lab_el OR Lab3 = Lab_el) > 1 THEN

        -- Trova un laboratorio non impegnato in nessun progetto come rimpiazzo

        SELECT Nome INTO nuovo_Lab FROM Laboratorio

        WHERE Nome NOT IN (SELECT Lab1 FROM Lavora UNION SELECT Lab2 FROM Lavora UNION SELECT Lab3 FROM Lavora)

        LIMIT 1;



        -- Aggiorna il laboratorio che sta per essere rimosso con il rimpiazzo

        IF (SELECT Lab1 FROM Lavora WHERE Lab1 = Lab_el) IS NOT NULL THEN

            UPDATE Lavora SET Lab1 = nuovo_Lab WHERE Lab1 = Lab_el;

        END IF;



        IF (SELECT Lab2 FROM Lavora WHERE Lab2 = Lab_el) IS NOT NULL THEN

            UPDATE Lavora SET Lab2 = nuovo_Lab WHERE Lab2 = Lab_el;

        END IF;



        IF (SELECT Lab3 FROM Lavora WHERE Lab3 = Lab_el) IS NOT NULL THEN

            UPDATE Lavora SET Lab3 = nuovo_Lab WHERE Lab3 = Lab_el;

        END IF;

    END IF;



    DELETE FROM Laboratorio WHERE Nome = nuovo_Lab;

END;

$$;


ALTER PROCEDURE public.rimuovi_laboratorio(IN nuovo_lab character varying) OWNER TO postgres;

--
-- Name: rimuovi_lavora(character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.rimuovi_lavora(IN cup_r character varying)
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM Lavora WHERE CUP = cup_r;

END;

$$;


ALTER PROCEDURE public.rimuovi_lavora(IN cup_r character varying) OWNER TO postgres;

--
-- Name: rimuovi_progetto(character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.rimuovi_progetto(IN cup_r character varying)
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM presenza WHERE cup = cup_r;

    DELETE FROM Progetto WHERE CUP = cup_r;

END;

$$;


ALTER PROCEDURE public.rimuovi_progetto(IN cup_r character varying) OWNER TO postgres;

--
-- Name: rimuovi_utilizza(character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.rimuovi_utilizza(IN cf_impiegato character varying, IN nome_lab character varying)
    LANGUAGE plpgsql
    AS $$

BEGIN

    DELETE FROM Utilizza

    WHERE CF = cf_impiegato AND NomeLab = nome_lab;



    UPDATE Laboratorio

    SET N_Afferenti = N_Afferenti - 1

    WHERE Nome = nome_lab;

END;

$$;


ALTER PROCEDURE public.rimuovi_utilizza(IN cf_impiegato character varying, IN nome_lab character varying) OWNER TO postgres;

--
-- Name: senior(character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.senior(codice_fiscale character varying) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF EXISTS (

        SELECT 1

        FROM Impiegato

        WHERE CF = codice_fiscale AND Categoria <> 'Senior'

    ) THEN

		UPDATE Progetto

        SET RefScie = (SELECT CF FROM Impiegato WHERE Categoria = 'Senior' AND CF NOT IN (SELECT RefScie FROM Progetto) LIMIT 1)

        WHERE RefScie IS NULL;



        UPDATE Laboratorio

        SET RespScie = (SELECT CF FROM Impiegato WHERE Categoria = 'Senior' AND CF NOT IN (SELECT RespScie FROM Laboratorio) LIMIT 1)

        WHERE RespScie IS NULL;

		RETURN TRUE;

	END IF;

END;

$$;


ALTER FUNCTION public.senior(codice_fiscale character varying) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: impiegato; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.impiegato (
    cf character varying(16) NOT NULL,
    nome character varying(20) NOT NULL,
    cognome character varying(20) NOT NULL,
    datanascita date NOT NULL,
    merito boolean,
    codicecon character varying(10) NOT NULL,
    dataassunzione date NOT NULL,
    eta integer,
    categoria character varying(20) NOT NULL,
    salario numeric NOT NULL
);


ALTER TABLE public.impiegato OWNER TO postgres;

--
-- Name: laboratorio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.laboratorio (
    nome character varying(20) NOT NULL,
    respscie character varying(16) NOT NULL,
    topic character varying(50) NOT NULL,
    n_afferenti integer,
    CONSTRAINT issenior CHECK (public.resposenior(respscie))
);


ALTER TABLE public.laboratorio OWNER TO postgres;

--
-- Name: lavora; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lavora (
    lab1 character varying(20),
    lab2 character varying(20),
    lab3 character varying(20),
    cup character varying(15)
);


ALTER TABLE public.lavora OWNER TO postgres;

--
-- Name: preleva_dati; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.preleva_dati AS
 SELECT codicefiscale,
    categoria1,
    datapassaggio1,
    categoria2,
    datapassaggio2,
    categoria3,
    datapassaggio3,
    categoria4,
    datapassaggio4
   FROM public.calcola_dati_impiegato() calcola_dati_impiegato(codicefiscale, categoria1, datapassaggio1, categoria2, datapassaggio2, categoria3, datapassaggio3, categoria4, datapassaggio4);


ALTER VIEW public.preleva_dati OWNER TO postgres;

--
-- Name: presenza; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.presenza (
    cup character varying(20),
    nome character varying(20),
    cognome character varying(20),
    cf character varying(20)
);


ALTER TABLE public.presenza OWNER TO postgres;

--
-- Name: progetto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progetto (
    cup character varying(15) NOT NULL,
    refscie character varying(16) NOT NULL,
    respscie character varying(16) NOT NULL,
    nome character varying(20) NOT NULL,
    budget numeric,
    CONSTRAINT isdirector CHECK (public.refdir(respscie)),
    CONSTRAINT issenior CHECK (public.resposenior(refscie))
);


ALTER TABLE public.progetto OWNER TO postgres;

--
-- Name: promozione; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promozione (
    cf character varying(16) NOT NULL,
    codicecon character varying(20) NOT NULL,
    datapassaggio date NOT NULL,
    vecchiacategoria character varying(20),
    nuovacategoria character varying(20) NOT NULL
);


ALTER TABLE public.promozione OWNER TO postgres;

--
-- Name: promozioni; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promozioni (
    cf character varying(16) NOT NULL,
    categoria1 character varying(20),
    datapassaggio1 date,
    categoria2 character varying(20),
    datapassaggio2 date,
    categoria3 character varying(20),
    datapassaggio3 date,
    categoria4 character varying(20),
    datapassaggio4 date
);


ALTER TABLE public.promozioni OWNER TO postgres;

--
-- Name: utilizza; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilizza (
    cf character varying(16) NOT NULL,
    nomelab character varying(20) NOT NULL
);


ALTER TABLE public.utilizza OWNER TO postgres;

--
-- Data for Name: impiegato; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: laboratorio; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.laboratorio (nome, respscie, topic, n_afferenti) FROM stdin;
Laboratorio B	CF82	Big Data	16
Laboratorio E	CF98	Informatica delle cose	36
Laboratorio C	CF16	Apprendimento Automatico	17
Laboratorio G	CF18	Software Testing	1
Laboratorio D	CF23	Fast Fashion	1
Laboratorio F	CF25	Salumeria	1
Laboratorio H	CF27	Giornalismo	1
Laboratorio I	CF30	Politica	1
Laboratorio J	CF33	Reinforcement Learning	1
Laboratorio K	CF35	Deep Learning	2
\.


--
-- Data for Name: lavora; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lavora (lab1, lab2, lab3, cup) FROM stdin;
Laboratorio B	Laboratorio G	Laboratorio E	CUP2
Laboratorio C	Laboratorio F	\N	CUP5
Laboratorio D			CUP1
Laboratorio H	Laboratorio I	Laboratorio J	CUP4
Laboratorio K		Laboratorio L	CUP6
\N	\N	\N	CUP3
\.


--
-- Data for Name: presenza; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.presenza (cup, nome, cognome, cf) FROM stdin;
CUP1	Nome14	Cognome14	CF14
CUP1	Nome18	Cognome18	CF18
CUP2	Nome2	Cognome2	CF2
CUP2	Nome25	Cognome25	CF25
CUP3	Nome96	Cognome96	CF96
CUP3	Nome91	Cognome91	CF91
CUP4	Nome14	Cognome14	CF14
CUP4	Nome77	Cognome77	CF77
CUP5	Nome58	Cognome58	CF58
CUP5	Nome62	Cognome62	CF62
CUP6	Nome8	Cognome8	CF8
CUP6	Nome84	Cognome84	CF84
\.


--
-- Data for Name: progetto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progetto (cup, refscie, respscie, nome, budget) FROM stdin;
CUP1	CF18	CF14	Progetto A	15000.0
CUP3	CF91	CF96	Progetto C	120000
CUP4	CF77	CF14	Progetto D	80000
CUP5	CF62	CF58	Progetto E	200000
CUP6	CF84	CF8	Progetto F	180000
CUP2	CF25	CF4	Progetto B	150000
\.


--
-- Data for Name: promozione; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: promozioni; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utilizza; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: impiegato impiegato_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impiegato
    ADD CONSTRAINT impiegato_pkey PRIMARY KEY (cf);


--
-- Name: laboratorio laboratorio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.laboratorio
    ADD CONSTRAINT laboratorio_pkey PRIMARY KEY (nome);


--
-- Name: lavora lavora_lab1_cup_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lavora
    ADD CONSTRAINT lavora_lab1_cup_key UNIQUE (lab1, cup);


--
-- Name: progetto progetto_cup_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progetto
    ADD CONSTRAINT progetto_cup_nome_key UNIQUE (cup, nome);


--
-- Name: progetto progetto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progetto
    ADD CONSTRAINT progetto_pkey PRIMARY KEY (cup);


--
-- Name: promozione promozione_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promozione
    ADD CONSTRAINT promozione_pkey PRIMARY KEY (cf, codicecon);


--
-- Name: laboratorio laboratorio_respscie_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.laboratorio
    ADD CONSTRAINT laboratorio_respscie_fkey FOREIGN KEY (respscie) REFERENCES public.impiegato(cf) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: laboratorio laboratorio_respscie_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.laboratorio
    ADD CONSTRAINT laboratorio_respscie_fkey1 FOREIGN KEY (respscie) REFERENCES public.impiegato(cf);


--
-- Name: lavora lavora_cup_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lavora
    ADD CONSTRAINT lavora_cup_fkey FOREIGN KEY (cup) REFERENCES public.progetto(cup);


--
-- Name: lavora lavora_cup_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lavora
    ADD CONSTRAINT lavora_cup_fkey1 FOREIGN KEY (cup) REFERENCES public.progetto(cup) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lavora lavora_lab1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lavora
    ADD CONSTRAINT lavora_lab1_fkey FOREIGN KEY (lab1) REFERENCES public.laboratorio(nome) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: progetto progetto_refscie_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progetto
    ADD CONSTRAINT progetto_refscie_fkey FOREIGN KEY (refscie) REFERENCES public.impiegato(cf) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: progetto progetto_respscie_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progetto
    ADD CONSTRAINT progetto_respscie_fkey FOREIGN KEY (respscie) REFERENCES public.impiegato(cf) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: promozione promozione_cf_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promozione
    ADD CONSTRAINT promozione_cf_fkey FOREIGN KEY (cf) REFERENCES public.impiegato(cf) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

